[2015-11-04 10:53] jiahaoliuliu opened #1 "Problem with permission of Camera on Android 6.0"
Hi:
I am running this sample app on Nexus 9 with Android 6.0 and I cannot user the camera. The error I received is this:

[code]

Could you take a look on it?

[2015-11-04 11:30] 3akat commented on #1
Hi @jiahaoliuliu
You are using a real device or an emulator?

[2015-11-04 13:43] jiahaoliuliu commented on #1
@3akat Real device

[2015-11-05 07:18] jiahaoliuliu opened #2 "Error Existing from Video Player screen"
Hi:
I am using the full screen video feature to record the video. After the video has been correctly recorded, I press the stop button, select the cover and click on the play button. The problem is after the video is correctly played, there is not way for me to come back to the previous screen other than press the physical back button. If I press it, the screen shown is the recording screen, not t

[2015-11-05 07:33] jiahaoliuliu opened #3 "NullPointer uploading the video"
Hi:
I got a null pointer exception after record the video and trying to upload it:

[code]

I am not doing anything special. The source code could be found here:
https://github.com/jiahaoliuliu/SimpleZiggeoIntegration

[2015-11-05 08:20] jiahaoliuliu commented on #3
Update: This happens on the full screen video recorder but not with Embedded video recorder

[2015-11-05 10:24] jiahaoliuliu commented on #3
Update2: Now it is happening on embedded video recorder too...

[2015-11-05 10:35] jiahaoliuliu opened #4 "Null Pointer exception on URLEncodedUtils"
Hi:
I am using Ziggeo in a simple app and when I am uploading the video to the server I am receiving the follow null pointer exception. This happens on Embedded video recorder.

[code]

I am not doing anything special. The source code could be found here:
https://github.com/jiahaoliuliu/SimpleZiggeoIntegration

[2015-11-06 14:38] 3akat commented on #4
Hi @jiahaoliuliu,
I can't repeat it on my SGS4 mini and nexus 4, can you please tell me your device name and android version?

[2015-11-08 14:58] 3akat commented on #1
@jiahaoliuliu
fixed in version 0.1.2

[2015-11-08 14:58] #1 closed

[2015-11-09 06:33] jiahaoliuliu commented on #4
@3akat I am using XiaoMi Mi3

[2015-11-09 06:34] jiahaoliuliu commented on #1
Thanks. I will test it today

[2015-11-10 13:32] 3akat commented on #3
@jiahaoliuliu
Hi,
I couldn't reproduce, but attempted to fix, please check now.
Thanks

[2015-11-10 13:33] 3akat commented on #4
@jiahaoliuliu
fixed

[2015-11-10 13:33] #4 closed

[2015-11-10 14:35] jiahaoliuliu commented on #4
@3akat Thanks!

[2015-11-10 14:47] jiahaoliuliu commented on #3
@3akat Ok. I will try it tomorrow.

[2015-11-19 12:03] 3akat commented on #2
Hi @jiahaoliuliu,
Done, please check.

[2016-01-26 12:24] wandersage opened #5 "setSendImmediatly(false) don't work."
Hi. I'm create new Ziggeo instance in Button onClickListener in Fragment like this
Ziggeo ziggeo = new Ziggeo(getString(R.string.ziggeo_appid));
                ziggeo.setSendImmediately(false);
                ziggeo.createVideo(getActivity(), ziggeo_video_duration);
and use EventBus for OnVideoSent event. But video always sent after recording. What's wrong?
And next question. How can I sent vide

[2016-01-27 06:56] 3akat commented on #5
@wandersage
Hi Anton,
Everything seems working fine.
When you set
[code]
Video will not be sent right after you've recorded it and you will have ability to play the video first.
Then when you press ok button the video will be sent.
![screenshot_1](https://cloud.githubusercontent.com/assets/2178533/12606123/e4d29e5e-c4db-11e5-9f9a-9ef957bec2f8.png)

Please, tell me if you still have any questions,

[2016-03-18 10:28] #5 closed

[2016-03-18 10:35] wandersage opened #6 "Ziggeo.attachPlayer(...) bug."
I used this method on API16. When I call it more than once then if() was always false and new video fragment don't be attached to container. This code fixed this.
[code]

[2016-03-18 16:08] wandersage opened #7 "Recording video error on Nexus 7"
Hi. I tested my application with Ziggeo SDK and have crashes on Nexus 7 device.
[Crashlytics](http://crashes.to/s/5e2474492be) issue. Could you help me?

[2016-03-18 16:14] 3akat commented on #7
Hi Anton,
Will check this on weekends.

[2016-03-20 12:16] 3akat commented on #6
@wandersage fixed in 0.42.0 version.

[2016-03-20 12:16] #6 closed

[2016-03-20 12:16] 3akat commented on #7
@wandersage fixed in 0.42.0 version

[2016-03-20 12:16] #7 closed

[2016-03-20 12:17] #3 closed

[2016-03-20 12:17] #2 closed

[2016-05-20 00:30] superibk opened #8 "Laucher Icon Collision"
Am using the Android SDk and got this error "ic_launcher.png: error: Duplicate file" and "ic_launcher.png: Original is here, The version qualifier may be implied".
It appears that, there is ic_launcher.png in the library which collided with the default "ic_launcher.png". to work around this i had to either add the -v4 qualifier to  resource folders , move just ic_launcher.png to *dpi-v4 or rename

[2016-05-20 09:08] 3akat commented on #8
Hi @superibk,
Will fix it today.

[2016-05-23 17:03] 3akat commented on #8
Hey @superibk
I removed all laucher icons, please check.

[2016-05-23 17:03] #8 closed

[2016-07-09 12:25] jiahaoliuliu commented on #5
Hi:
I am trying to work with the method attachRecorder setting the value setSendImmediately(false) but it does not seems to work. Checking the source code, the boolean ARG_SEND_IMMEDIATELY is passed to the class VideoRecorderFragment but never taked into account: The super class BaseRecorderFragment does use it to set the boolean mSendImmediately but this boolean is never used.

The reason why I a

[2016-07-09 13:36] 3akat commented on #5
Hi @jiahaoliuliu,
1. I couldn't reproduce your crash but tried to fix. Please check.
2. Why do you think ```setSendImmediately``` is not working? I've rechecked, everything working as expected. ```mSendImmediately``` is used in ```VideoRecorderFragment```. This argument just allow you to select cover shot before send a video. After cover shot selection the video will be sent.
Can you please descri

[2016-12-03 14:53] rameshkec85 opened #9 "How to customize video record layout ?"
First I would like to thank for wonderful sdk.
      I am facing the issue on customization for embedded video recorder. voice, camera switch, done, start recording options should be out side of the video view (will use custom buttons as per my design). I do not want show any icon in the video view.

can you please help me on this ?

1. OnPageLoad recording should be started through front cam
2. C

[2016-12-04 07:56] 3akat commented on #9
Hi @rameshkec85,
You can change default camera to front by putting `Camera.CameraInfo.CAMERA_FACING_FRONT` as argument for `preferredCameraId`.
Unfortunately there is no way for ui customisation for now. On monday I will think what will be the best way for such kind of functionality and will back to you with estimates for it.

[2016-12-05 05:18] rameshkec85 commented on #9
@3akat  Thanks very much. Can you fix it asap as this is urgent requirement for me.

[2016-12-05 15:29] 3akat commented on #9
@rameshkec85
Already working on it, will be ready tomorrow.

[2016-12-06 16:39] 3akat commented on #9
Hi @rameshkec85,
I've added ability to specify custom layout for recorder. To do it you will need
1. Update to latest sdk version.
2. Use method `.setRecorderLayout(int layoutResId)`
3. In your custom layout if you need everything from default layout but with custom designs you need to use following ids for your views:
* vg_recorder - for root view
* sv_video - for SurfaceView
* iv_voice_indicator

[2016-12-07 03:24] rameshkec85 commented on #9
Button clicks are not working. Can you try with the following code in your sample(by update the latest version) and I want to remove select thumbnail after stop the video reocrding (it should not be displayed  since user should not interact with recording.).

**my_custom.xml**

<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns

[2016-12-07 05:35] 3akat commented on #9
@rameshkec85
From what I can see, you're not following rules that I've described above.
1. You don't need `ziggeo.setSendImmediately(false);`
2. ids should be
- `v_switch_camera` instead of `iv_switch_camera`
- `v_start_stop` instead of `iv_start`
- `v_play` instead of `iv_play`

Regarding to other points.
If seems you've missed some part of your layout, when you will provide full layout I will te

[2016-12-07 19:41] rameshkec85 commented on #9
@3akat Thanks very much. Its working now except thumbnail selection and customizing surface view (I'll try to customize it).

[2016-12-08 06:13] 3akat commented on #9
Hi @rameshkec85,
I've updated sdk, please use `ziggeo.setShowCoverShotSelectionPopup(false)` to prevent thumbnail selection.

[2016-12-08 18:30] rameshkec85 commented on #9
Thanks very much @3akat

Its not picking up the custom layout if using the following code.

[code]

where this is working fine with custom layout but I want to force camera front face .
[code]
And I have one more doubt, how to start auto start recording without tapping button ?

[code]

[2016-12-12 05:49] 3akat commented on #9
Hi @rameshkec85,
Will check the bugs today.
Unfortunately there is no ability to start recording without tapping button. Are you sure you need it? It seems user need some time to focus camera on things he want to shoot.

[2016-12-12 07:13] rameshkec85 commented on #9
@3akat  Yes, this is major requirement for my app (start recording on load) or else  Can you give callback once camera is ready ?

[2016-12-12 07:16] 3akat commented on #9
@rameshkec85 I can start recording right after screen loads, but the camera need some time to start recording. On some devices it will take 0.5 second, on some maybe 2 seconds. How in that case we should indicate that recording was started?

[2016-12-13 05:34] 3akat commented on #9
@rameshkec85
Fixed bugs with cover shot popup and custom layout.

[2017-02-02 05:28] 3akat commented on #9
Closing it due to inactivity.
@rameshkec85 please, open it if you have any issues regarding recorder customization.

[2017-02-13 18:33] rameshkec85 commented on #9
Hi,
I am still facing many customisation issues using this sdk. Can u help me on this ? or can u provide  control on VideoRecorderFragment ?

- I want to play the recording video. (there is no way to get recorded file name)
- Needs to add Begin, Stop && finish etc. based on the recording state.
- Timer format needs to be changed as per my requirement (ex. 5 Secs )

I felt very difficult to customi

[2017-02-13 18:55] 3akat commented on #9
Hi @rameshkec85,
The things you described related more to functionality than to UI castomisation.

Such functionality requires a lot of architectural changes, so it will not be ready in nearest time.

There is method in ziggeo class called `setVideoRecordingProcessCallback`, I will update callback and put path there.

I can add ability to set custom formatter for time in millis. Will it be enough?

[2017-02-17 09:39] rameshkec85 commented on #9
@3akat :
Thanks,
1. Provide me the url that i can play it ziggeo video player in one screen (should be embeded in screen where other buttons also required to place)
2. Custom Timer format

[2017-03-07 17:58] rameshkec85 opened #10 "Crash issue in Nexus 6"
USER_COMMENT=null
STACK_TRACE=java.lang.IllegalArgumentException: Unsupported angle: 450
at android.media.MediaRecorder.setOrientationHint(MediaRecorder.java:493)
at com.ziggeo.androidsdk.recording.MediaRecorderManager.startRecording(MediaRecorderManager.java:134)
at com.ziggeo.androidsdk.ui.fragments.VideoRecorderFragment.startRecording(VideoRecorderFragment.java:348)
at com.ziggeo.androidsdk.ui.

[2017-03-07 18:00] 3akat commented on #10
Hi @rameshkec85,
Thanks for reporting this. Can you please also tell how to reproduce this?

[2017-03-07 18:16] rameshkec85 commented on #10
Hi,
Thanks for the quick reply. I just ran the app and start recording app crashing with the above error.

[2017-03-07 18:38] 3akat commented on #10
Thanks for info.
Unfortunately I cant reproduce crash on my real nexus 5 or emulator nexus 6, so can't do fix right now. Will try to find the reason asap.

[2017-03-09 13:18] 3akat commented on #10
Hi @rameshkec85,
I've got Nexus 6, still can't reproduce the issue. Can you please add more specific details? Test on other devices or somth?

[2017-03-12 01:26] grantespo opened #11 "Ziggeo ziggeo = new Ziggeo(APP_TOKEN); deprecated"
Is there an alternative to this line? How long until it is nonexistent?

[2017-03-12 01:34] grantespo opened #12 "Can't Initialize Callback"
Callback callback;
long maxVideoDuration = 15000;
ziggeo.createVideo(getApplicationContext(), maxVideoDuration, callback);

This doesn't work. What is the correct way to initialize callback? And what does it actually do? The Docs are unclear about callback.

[2017-03-12 01:54] grantespo commented on #12
My problem was there was 50 different Callback types. I was initializing the wrong type of Callback. It should be Callback callback = new Callback(); // type http3.

[2017-03-12 01:54] #12 closed

[2017-03-12 04:49] grantespo opened #13 "Can't detect Camera2 Front Camera."
On API versions >= 21, I want to use Camera2 as the front camera. But the default still start as back camera

if(android.os.Build.VERSION.SDK_INT >= 21){
                    ziggeo.createVideo(Context, maxVideoDuration, CameraCharacteristics.LENS_FACING_FRONT, CameraHelper.Quality.HIGH, callback);
                }
                else{
                    ziggeo.createVideo(Context, maxVideoDurat

[2017-03-12 06:36] 3akat commented on #11
Hi @grantespo,
Alternative is `Ziggeo(String appToken, Context context)`
The deprecated one will be removed in several months.

[2017-03-13 13:04] #11 closed

[2017-03-13 13:25] 3akat commented on #13
Hi @grantespo,
We have no support of camera2 api for now, please use `Camera.CameraInfo.CAMERA_FACING_FRONT` too

[2017-03-13 13:25] #13 closed

[2017-04-03 12:32] 3akat commented on #10
Closed due to inactivity.

[2017-04-03 12:32] #10 closed

[2017-04-03 12:34] 3akat commented on #9
Hi @rameshkec85,
We've added `CameraView` in new version.
Please, check it out, it provides ability for any customisations.

[2017-04-03 12:34] #9 closed

[2017-04-07 18:00] rameshkec85 opened #14 "Unable to record video with front camera"
I have taken latest sdk and sample but i am getting below error in MOTOZPlay device.

https://github.com/Ziggeo/Android-Client-SDK/tree/d6ca2a0a30cfc13b1f6bb67fef17f691a46d4cf3

[code]

[2017-04-10 06:57] 3akat commented on #14
Hi @rameshkec85,
Unfortunately I can't reproduce the issue. Can you please provide more info?
1. Before crash log there is log from MediaRecorder with error code value, will look like
`start failed: -_number_`
2. Also please put this code in `onCameraOpened` callback
https://gist.github.com/3akat/a0e0c74f550c579079ef2b550c490c53
and share logs from it, will look like
[code]

That would be very hel

[2017-04-10 09:56] rameshkec85 commented on #14
Thanks for the reply. FYI, My device is running on 7.0+

[code]

[2017-04-12 06:35] rameshkec85 commented on #14
Hi @3akat,  any update on this ?

[2017-04-12 06:44] 3akat commented on #14
Hi @rameshkec85, thank you for info but still no results for now, trying to find the reason.
If it is not hard, can you please try to run recording with default recorder?
I mean `FullscreenRecorderActivity` or manually through `ziggeo.createVideo(...)`

[2017-04-12 09:08] rameshkec85 commented on #14
Hi @3akat , I have tested with front camera using both activities, which is working fine.
**FullscreenRecorderActivity** and **EmbeddedRecorderActivity**

But it is failed with **CameraViewActivity.java**

[2017-04-12 09:46] 3akat commented on #14
@rameshkec85 great, thanks for info, I will get rid of the difference in implementation today

[2017-04-13 07:39] 3akat commented on #14
Hi @rameshkec85, please, checkout the new version.

[2017-04-18 05:22] #14 closed

[2017-04-18 05:26] rameshkec85 commented on #14
Thanks @3akat , its working now.

[2017-11-14 17:12] objectorientedperson opened #15 "android.util.AndroidRuntimeException: Calling startActivity() from outside of an Activity context requires the FLAG_ACTIVITY_NEW_TASK flag. Is this really what you want?"
at android.app.ContextImpl.startActivity(ContextImpl.java:672)
                                                                                at android.app.ContextImpl.startActivity(ContextImpl.java:659)
                                                                                at android.content.ContextWrapper.startActivity(ContextWrapper.java:331)

[2017-11-14 17:18] 3akat commented on #15
Hi @objectorientedperson, thanks for reporting! Will check this soon.

[2017-11-14 17:18] 3akat commented on #15
@objectorientedperson Can you also tell steps to reproduce?

[2017-11-14 17:20] objectorientedperson commented on #15
@3akat I just cloned the project to studio and run. It crashes at this line:

mZiggeo.startRecorder();

in FullscreenRecorderActivity

[2017-11-16 21:54] objectorientedperson commented on #15
@3akat anything new?

[2017-11-17 05:18] 3akat commented on #15
Hi @objectorientedperson, the fix will be published today

[2017-11-17 06:13] 3akat commented on #15
@objectorientedperson please, check out the new version.

[2018-01-16 17:04] objectorientedperson opened #16 "TextureView background attribute crashes 7.0 and above."
Hello, SDK causes crash for devices 7.0 and above. Here is the stacktrace.

android.view.InflateException: Binary XML file line #8: Binary XML file line #8: Error inflating class com.ziggeo.androidsdk.widgets.cameraview.CameraView
                      at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2665)
                      at android.app.ActivityThread.handleLaunchActiv

[2018-01-17 05:53] 3akat commented on #16
Hi @objectorientedperson, thanks for reporting.
I can't reproduce the issue, so a few questions
1. What device model do you use?
2. Is the crash occurs with default demo configuration, or did you do some specific config?

[2018-01-17 15:53] objectorientedperson commented on #16
@3akat Hello,

1. I've tested with Samsung s3 mini (Android 4), LG Optimus Zone 3 (Android 5), LG Nexus 5 (Android 6) and all worked fine. Only in Motorola Nexus 6 (Android 7) it crashes.

2. I have not used any specific config, added your demo config by using:
compile "com.github.ZiggeoJitpackService:Android-SDK:0.71.7"

[2018-01-17 21:42] objectorientedperson opened #17 "Wrong video record orientation."
Whenever I record and upload a video, my record has different orientation (upside down)

I checked the local file under file system and saw that the orientation is wrong. Here is the screenshot.

![screenshot_20180117-234017](https://user-images.githubusercontent.com/3332056/35068528-50f38e66-fba5-11e7-8059-dd5eb9e9d9dd.png)

[2018-01-18 08:15] #15 closed

[2018-01-18 13:34] 3akat commented on #17
@objectorientedperson can you please specify the device and android version?

[2018-01-19 07:02] 3akat commented on #16
@objectorientedperson it looks like an issue with android themes or support components.
Do you have the same issue in demo from the repository?

[2018-01-19 16:10] objectorientedperson commented on #17
@3akat Android 7.1 - Motorola Nexus 6

[2018-02-02 17:28] objectorientedperson commented on #17
@3akat Anything new?

[2018-02-04 19:00] 3akat commented on #17
Hi @objectorientedperson,
Unfortunately was unable to reproduce on any of my devices, will try to fix blindly.

[2018-02-06 04:08] 3akat commented on #17
@objectorientedperson can you please try version `a420c47417`?

[2018-02-06 11:43] 3akat commented on #16
@objectorientedperson any news?

[2018-02-09 05:32] 3akat commented on #16
Closing due to inactivity.
@objectorientedperson please, reopen if the issue still exists.

[2018-02-09 05:32] #16 closed

[2018-02-19 15:31] Bane-D commented on #17
@3akat Just wanted to let you know that I had checked all of our channels and no one else was reporting such issues. LG is one of the common marks of devices that tests are done on as well so it is possible that there was something specific happening.

I suggest closing it by the end of the week as solved. @objectorientedperson please let us know before in case you are still experiencing any simil

[2018-05-02 18:17] objectorientedperson opened #19 "Playback problem of video that's uploaded from desktop"
Hi, when a video is uploaded from a desktop client, android sdk is unable to play it. I can see the thumbnail but preview function gives the following error:

05-02 21:14:03.668 27902-29257/com.myregistry E/HttpProxyCacheServer: HttpProxyCacheServer error
    com.danikula.videocache.ProxyCacheException: Error processing request. Version: 2.7.0
        at com.danikula.videocache.HttpProxyCacheServe

[2018-05-02 23:13] Bane-D commented on #19
Hi,

It seems to be complaining about the file permissions. By the errors it seems as if the video files are created within the cache and when they are tried to be played from there, they can not be accessed by the app.

Can you please tell us if you might have changed the cache defaults?

Also if you grab the demo app and try to use it to play back the same videos, would it complain in the same m

[2018-05-03 14:50] objectorientedperson commented on #19
@Bane-D hi,

I haven't changed cache settings. And also as per your request I tried to play the video with demo app and gives the same result.

Thanks,
-ali

[2018-05-03 21:12] Bane-D commented on #19
Hi Ali,

Thank you for the info.

We are looking into this. Just for reference what API  or Android system you are using where this is happening?

Regards,
Bane

[2018-05-07 07:33] 3akat commented on #19
@objectorientedperson
Hi Ali,

Wasn't able to reproduce the issue, but I've added an additional permission check for the player. If the issue will still exist we at least will be sure that the reason is not in permissions.
So, please take a look at v`0.73.5`.

Thanks,
Alex

[2018-05-08 14:14] objectorientedperson commented on #19
Hi @3akat
I've upgraded to v0.73.5 but I got a new error:

05-08 14:10:56.949 17524-17524/com.myregistry W/MediaPlayer: Couldn't open https://embed.ziggeo.com/v1/applications/ade44df8727ba9433c799769a0254857/videos/ad207ca9806c7d51c6b45ec28bb6c425/video.mp4: java.io.FileNotFoundException: No content provider: https://embed.ziggeo.com/v1/applications/ade44df8727ba9433c799769a0254857/videos/ad207ca9

[2018-06-12 17:46] gustafah opened #20 "Crash using attachRecorder"
Found an issue when I use attachRecorder, to use a Fragment on my layout to display the recorder.

When I tap record Icon, it immediately crashes. The issue is that the CacheFile comes as Null. Analysing the code. I found an issue, and was going to Fork the project and fix it, when I realized it's just a Demo Project that is on Github.

The issue I found was on lines:

On file **Ziggeo.class**.

I

[2018-06-12 17:49] 3akat commented on #20
Hi @gustafah,
Thanks for reporting, will take a look shortly.

[2018-06-13 11:39] 3akat commented on #20
@gustafah
Please, take a look at the `0.73.9` version

[2018-06-13 13:49] gustafah commented on #20
Oh, nice. Will have a look. is the version live already?

[2018-06-13 13:52] gustafah commented on #20
I changed the version on my Gradle, 0.73.9, cleaned, rebuilt and it still presents the same issue.

[2018-06-13 14:00] 3akat commented on #20
Can you please tell the steps? Maybe I have missed something

[2018-06-13 14:03] gustafah commented on #20
This is what I'm doing to initialize:

When I look at the code, for the **ziggeo.attachRecorder**, it still has the same lines I described on the original comment, on **defaultRecorderInitialisation()**.

[2018-06-13 14:05] gustafah commented on #20
on **VideoRecorderFragment.getInstance()**, you already use **setArguments()**. then, you set it again on the snippet above.

[2018-06-13 15:54] gustafah commented on #20
Now It's perfect! Issue solved ;) Thx a lot for the awesome tool.

[2018-06-13 15:54] #20 closed

[2018-06-14 14:22] AllinGaming opened #21 "Activity won't finish"
When i record a video with attachrecorder and click the stop button, then select the cover shot the activity doesn't finish, i just get a white screen and when the upload finishes i get the recorder back. How can i make it finish like when i click the check button?

[2018-06-18 11:35] 3akat commented on #21
Hi @AllinGaming
Regarding the first question - right now there is no way to do this, we will think about how to improve business logic for such case.
Regarding the second - we're preparing the list of arg, once it will be finished I'll add it to the readme and will let you know.

[2018-06-21 05:48] 3akat commented on #21
Hi @AllinGaming,
Regarding the first issue - please, take a look at the version `v.0.73.11`. It should behave as requested.

[2018-06-23 05:51] 3akat commented on #21
@AllinGaming
Actually, we already have such list, please take a look here
https://ziggeo.com/docs/sdks/javascript/browser-integration/parameters#javascript-revision=stable&javascript-version=v2
You need **Video management parameters** section.

[2018-08-10 12:27] 3akat commented on #21
@AllinGaming closing the issue. Please, let us know if you need any additional help.

[2018-08-10 12:27] #21 closed

[2018-08-10 12:28] 3akat commented on #19
@objectorientedperson closing the issue. Please, let us know if you need any additional help.

[2018-08-10 12:28] #19 closed

[2019-02-27 11:54] abhisekm opened #22 "Unable to playback video using video token"
` String videoToPlay1 = "-- Video Token here --"; `
` ziggeo.startPlayer(videoToPlay1);`

I am getting Player Error with the following error

`2019-02-27 17:17:57.002 15639-15639/com.ziggeo.androidsdk.demo D/ZiggeoPlayerActivity: Player. Error`
`    java.io.IOException: com.google.gson.JsonSyntaxException: java.lang.IllegalStateException: Expected BEGIN_ARRAY but was BEGIN_OBJECT at line 1 column

[2019-02-27 12:01] Bane-D commented on #22
Hi Abhisek,

Looking at the error it seems that it might be connected to the JSON that was sent back from our server.

Can you please send us an email to support@ziggeo.com with the application token and video token you are using? That would allow us to check it out and see what might have happened.

Regards,
Bane

[2019-03-04 11:29] 3akat commented on #22
Hi Abhisek,
Please take a look at the newest version.

[2019-03-05 07:05] abhisekm commented on #22
Thank you for the fix, it is working now.

[2019-03-05 07:10] abhisekm opened #23 "Changing Video quality or Camera facing has no effect"
`  Ziggeo ziggeo = new Ziggeo(APP_TOKEN, this);`
`  RecorderConfig config = new RecorderConfig.Builder()`
`                .callback(prepareCallback())`
`                .quality(CameraView.QUALITY_LOW)`
`                .facing(CameraView.FACING_FRONT)`
`                .sendImmediately(false)`
`                .enableCoverShot(false)`
`                .maxDuration(20000)`
`                .build

[2019-03-05 07:16] abhisekm commented on #23
As a temporary fix, I am creating a custom CameraActivity class to add argument so that the init logic is not skipped.

[https://gist.github.com/abhisekm/0f922b227f274a1bee851da7eaa32606](url)

[2019-03-05 07:36] 3akat commented on #23
Hi @abhisekm, working on it.

[2019-03-05 08:02] #22 closed

[2019-03-05 08:02] 3akat commented on #23
Fixed, please take a look at the latest version.

[2019-03-05 08:55] abhisekm commented on #23
Thank you for the quick fix.

[2019-03-05 08:55] #23 closed

[2019-10-11 10:50] sriramsurya opened #24 "Save the video while recording for every 5 min and capture the images also."
Save the video while recording for every 5 min and capture the images also.

[2019-10-11 11:31] 3akat commented on #24
Can you please describe the feature you need to have? Do you need the video to be divided into 5min parts and have a snapshot for each? Or you just need a frame from every 5 mins of the video?
Do you need all the parts uploaded as separate things, or maybe process them locally?
Would be cool to hear as many details as possible :)

[2019-12-09 16:56] yasintanriverdi opened #25 "Get Amazon S3 URL of a video after upload is done"
Is there a way to get the Amazon S3 URL of the video after upload operation is done?

[2019-12-09 17:24] ibnutri commented on #25
Hi,

The S3 push service is not on the Client-SDK. Because it's done from the server. You can use webhook https://ziggeo.com/docs/api/webhooks to catch when the video is pushed to S3. The webhook names are `video_stream_push_success` and `video_stream_push_failed`.

Full list of webhooks available is here https://ziggeo.com/docs/api/webhooks/list

[2019-12-10 12:19] yasintanriverdi commented on #25
Thanks 👍

[2019-12-10 12:19] #25 closed

[2020-02-29 07:12] sagrawal31 opened #26 "RuntimeException: stop failed after recording is completed"
## Description

I'm using the latest master https://github.com/Ziggeo/Android-Client-SDK/commit/1bf79f9421f62d6296cc76869c5800c9841217a9 to run the app locally for testing and surprised to see this isn't working.

As soon as the 20s is completed (or even I manually submit the recording), an exception is being thrown:

[code]

I even tried upgrading the dependency from `0.82.0` to `com.github.Zigge

[2020-02-29 07:20] sagrawal31 opened #27 "This repository is not the SDK, consider renaming it"
It's mentioned here https://ziggeo.com/docs/sdks/mobile/android that Ziggeo's Android Java SDK is managed publicly on this repo:

![image](https://user-images.githubusercontent.com/1804514/75603097-4a656a80-5af1-11ea-82e6-63507e9b2036.png)

But this repository isn't the actual **Android SDK**. The actual SDK is hosted on jitpack.io at https://jitpack.io/#ZiggeoJitpackService/Android-SDK (which is

[2020-02-29 07:24] sagrawal31 commented on #26
Also, I'm not sure why the version `0.82.0` is not available here https://jitpack.io/#ZiggeoJitpackService/Android-SDK?

[2020-02-29 07:29] sagrawal31 commented on #26
I can see a popular solution here https://stackoverflow.com/questions/16221866/mediarecorder-failed-when-i-stop-the-recording

[2020-02-29 09:52] 3akat commented on #26
Hi @sagrawal31!
Thanks for reporting it, will take a look shortly.

[2020-02-29 09:54] 3akat commented on #27
Thanks for suggestions, @sagrawal31. Your arguments make sense, we will consider it with a team.

[2020-02-29 10:16] sagrawal31 commented on #26
Thank you @3akat for the reply.

Wanted to update, not sure why but the same app works fine in an Emulator running Android 8.

[2020-03-02 22:07] sagrawal31 commented on #26
Any update here guys? We are eagerly waiting for a fix/solution/workaround.

[2020-03-03 00:10] Bane-D commented on #26
Hi Shashank,

My colleague is looking into this. As soon as there is an update he will push it up and update you that it is available. :)

[2020-03-03 04:43] 3akat commented on #26
Hi @sagrawal31, thank you for the detailed description, but I was not able to reproduce the issue on my devices and emulators. Looks like the issue is specific to a Samsung device, I'm trying to understand what's going on.
The link you've shared is actually a workaround for the symptom (the crash). The actual reason is that the recording seems not starting on your device for some reason.
Doing my

[2020-03-03 06:49] sagrawal31 commented on #26
Hi @3akat I'm not really sure what's happening in the Samsung device. This device is the latest and only a year old. So this shouldn't be a problem.

What is the next step are you taking to figure out the problem? Do you need something from my side?
I will be happy to do it.

[2020-03-03 06:58] sagrawal31 commented on #26
@3akat I have been doing the research about this and I got this https://stackoverflow.com/questions/52084401/android-mediarecorder-not-working-in-some-devices

To help you out (and ultimately, to help myself 😃), can you let me know a way that I can set `mediaRecorder.setAudioEncoder(MediaRecorder.AudioEncoder.AMR_NB);` somewhere in the code?

[2020-03-03 06:58] sagrawal31 commented on #26
This is just my guesswork, so please feel free to say no if you are confident that this won't work :)

[2020-03-03 07:08] sagrawal31 commented on #26
I literally have no knowledge of this media/camera thing but I can see that the audio encoder is set to `3` i.e. `MediaRecorder.AudioEncoder.AAC` in `ZRecorder.java`:

![image](https://user-images.githubusercontent.com/1804514/75751105-b4794c00-5d4b-11ea-856d-0c4f3524905a.png)

So can you release a snapshot version which gives us the ability to customize the audio encoder and then I can change & t

[2020-03-03 07:09] sagrawal31 commented on #26
See it says here the same that `MediaRecorder.AudioEncoder.AAC` does not work on Samsung https://developer.samsung.com/forum/thread/samsung-device-does-not-support-sharing-of-mic-/201/300866?boardName=SDK&listLines=30&startId=zzzzz~&startPage=28&curPage=30

[2020-03-03 07:13] sagrawal31 commented on #26
Another thread which might jog your mind https://github.com/react-native-community/react-native-audio-toolkit/issues/149

[2020-03-03 07:19] 3akat commented on #26
Yup, that could be the cause. My main goal now is to reproduce the issue before fixing it. I wasn't able to find the J6 device, but I will test the app on some other Samsungs with android 8 and 9.
Meanwhile, I'll add ability to configure the audio encoder and you'll be able to try it by yourself :)

[2020-03-03 07:31] sagrawal31 commented on #26
Sure, @3akat let me know once you released it. I'll try it out.

[2020-03-03 10:20] 3akat commented on #26
@sagrawal31, I've pushed the `0.82.2`, please take a look :)
You can set encoder in `RecorderConfig` object using the following
`.audioEncoder(MediaRecorder.AudioEncoder.AMR_NB)`

[2020-03-03 12:04] sagrawal31 commented on #26
Hi @3akat, thank you for releasing the version. I added `.audioEncoder(MediaRecorder.AudioEncoder.AMR_NB)` and verified with breakpoints that this value is being set in `ZRecorder.java` but the behaviour is still the same.

I even tried all other `AudioEncoder` i.e. `AMR_WB`, `HE_AAC` but the problem still persist.

[2020-03-03 12:18] 3akat commented on #26
So that means the issue is not in the audio encoder, thanks for the help :)
Will try to repeat the issue on my devices and fix. I will let you know as soon as the update will be ready.

[2020-03-03 12:26] sagrawal31 commented on #26
There are two types of behaviours:

## When only `MediaRecorder.AudioEncoder.AMR_NB` is set

![image](https://user-images.githubusercontent.com/1804514/75774487-1babf600-5d76-11ea-9889-23f50d6cf561.png)

In this case, as soon as I start recording the video, an exception is thrown:

[code]

And video freezes in the recording (recording is added below in zip).

[20200303_173755_edited.mp4.zip](https

[2020-03-03 12:28] sagrawal31 commented on #26
Not really sure. But my concern is that why the camera freezes as soon as we start the recording. Maybe it's something about the video?

[2020-03-03 12:44] 3akat commented on #26
freezing is actually the most common case when the app crashes during recording. In other words if anything bad happens - the video will freeze or blackout

[2020-03-03 12:46] sagrawal31 commented on #26
Agreed. But this is true for the first case when there is a crash during recording. But in the 2nd case, the recording starts successfully (with camera screen freeze) and 20s timer keeps running on the top but an exception is not thrown unless I press the stop button to pause the recording.

[2020-03-03 12:49] sagrawal31 commented on #26
And according to the [documentation](https://developer.android.com/reference/android/media/MediaRecorder.html#stop%28%29):

Which is true in our case because even after the timer runs for 20 seconds, no video was recorded (since the camera was frozen) and when we stop it, it throws the RuntimeException.

Is this helps? I don't have much knowledge but just trying to be your help 😃

[2020-03-03 13:07] sagrawal31 commented on #26
@3akat I managed to create a video for you to demonstrate the actual problem that I'm trying to explain as 2nd scenario. It's there in YouTube https://youtu.be/2jtqFrlUqEM

You will see that the timer runs on the top-right corner but the app crashes when the timer ends (or when we manually stop the recording).

[2020-03-03 13:27] 3akat commented on #26
Thanks for sharing this! Will take a look.

[2020-03-03 17:42] 3akat commented on #26
Hi @sagrawal31, I've tried testing the app on three different Samsung devices - no issues. Tomorrow I'll try to get more.
Meanwhile could you please try to reboot your device? One of our customers also had some weird issue, but it disappeared after rebooting.

[2020-03-03 18:11] sagrawal31 commented on #26
Hi @3akat I have tried restarting the device in the past and just after seeing this comment, I restarted it after proper shutdown but the same issue 😞

[2020-03-04 03:21] Bane-D commented on #26
Just jumping in Shashank, is your device maybe jailbroken?

[2020-03-04 03:29] sagrawal31 commented on #26
No, Bane. It’s not.

On Wed, 4 Mar 2020 at 8:51 AM, Bane <notifications@github.com> wrote:

--
Thanks,
Shashank Agrawal
Co-Founder & CTO
Wiz Panda Techno Solutions
+91 94252-20659
shashank@wizpanda.com

--
DISCLAIMER: The information in this message is confidential and may be
legally privileged. It is intended solely for the addressee. Access to this
message by anyone else is unauthorized. If you

[2020-03-04 05:15] sagrawal31 commented on #26
I even tried turning off the "Developer Options" from the Settings.

[2020-03-04 05:30] Bane-D commented on #26
OK awesome. I wanted to confirm just in case there is something specific like that which could make the device work a bit differently.

The developer options should be fine in either case since in our team such options are probably one of the first ones we turn on :)

[2020-03-04 05:38] sagrawal31 commented on #26
Yeah, I got your point @Bane-D and I was doing the same. I'll test this in one another Samsung S9+ device.

😄

[2020-03-04 11:54] 3akat commented on #26
Hi @sagrawal31,
I did some more tests on other devices and unfortunately was not able to reproduce the issue. I also can't find Samsung J6 at any of device testing farm (amazong, firebase, bitbar, browserstack, samsung).
So can you please try to reproduce the issue on other devices?

[2020-03-04 12:39] sagrawal31 commented on #26
Hi @3akat

Thank you for your constant efforts towards resolving this issue. I just purchased a brand new [Samsung A50S](https://www.samsung.com/in/smartphones/galaxy-a50s-a507f-4gb/SM-A507FZKVINS/) phone running Android 10 and the first thing I did on that phone is enabled developer options and then installed this demo app and I'm surprised to see that the demo app worked fine 😥

Not really sure

[2020-03-04 13:01] 3akat commented on #26
Thanks for the info! At least it works fine on your other device and you can play with the app :)
Please, let us know if you will face the same issue somwhere else.

[2020-03-05 05:11] sagrawal31 commented on #26
Sure, will keep you posted.

[2020-03-05 20:50] sagrawal31 commented on #26
Hi @Bane-D & @3akat this is working for me in another Samsung device as well. Not sure, why it is not working for my first device. I'll do a factory reset.

[2020-03-06 03:37] 3akat commented on #26
Can you please also try to find error in logs when you start the recording? It could be system error, not app.

[2020-03-06 07:43] sagrawal31 commented on #26
How should I filter out the logs specific to this problem?

I ran `adb logcat | grep "Media"` and took a dump for you. Can you please try and see if you find any kind of issues in the logs.

[adb-logcat-dump.txt](https://github.com/Ziggeo/Android-Client-SDK/files/4297107/adb-logcat-dump.txt)

[2020-03-08 19:19] sagrawal31 opened #28 "Prevent OS from sleeping while the recorder is on"
I'm using `v0.82.2` of the Android SDK on an Android 10. When the recording is running and we do not interact with the screen, the screen goes to sleep (as set in the OS settings - defaulted to 30 seconds). And as soon as the screen goes to sleep, we can not restore the recording and the app freezes with an exception:

[code]

How can we prevent OS from sleeping while the recording is on? I was th

[2020-03-08 20:08] sagrawal31 opened #29 "Setting extraArgs (custom data) is not reflecting in the dashboard"
I'm setting some string-based data in the Ziggeo recorder:

[code]

But it's not reflecting in the dashboard once the videos are processed:

![image](https://user-images.githubusercontent.com/1804514/76170303-a477c700-61a6-11ea-8f34-e8878cddb308.png)

Am I missing something?

[2020-03-08 21:27] Bane-D commented on #29
Hi there Shashank. I believe that you are trying to set the custom data field by using these:
[code]
The custom data section is actually a single parameter that you can fill in with your own custom data that has to be a valid JSON format to be accepted.

So instead of setting 2 parameters, you would actually be setting one with a code that would look something like so:

[code]
Now I do want to men

[2020-03-09 05:56] 3akat commented on #29
Hi Shashank :)
Bane is right, to put a custom data you need to use `data` key in extra args.

[2020-03-09 06:06] 3akat commented on #28
Hi @sagrawal31, checking it

[2020-03-09 06:44] sagrawal31 commented on #29
Oh! Thanks @Bane-D & @3akat

I got your point about the way to pass the JSON data in a custom field `data`. I'll manage to format the string and pass that but I got another question, why a map `extraField` is being used when we have to pass a single string? What else can we pass to `. extraArgs()` Map?

[2020-03-09 07:00] 3akat commented on #28
Please take a look at v `0.82.3`.
FYI: we have removed ability to configure audio encoder. Since it was not the issue we don't plan to allow it for now.

[2020-03-09 08:56] sagrawal31 commented on #28
Thank you @3akat for releasing a new version. I'll try it out and will let you know that.

[2020-03-09 10:23] sagrawal31 commented on #28
Hi @3akat this isn't working. It's throwing some exception:

[code]

[2020-03-09 11:01] sagrawal31 commented on #29
This is working now:

![image](https://user-images.githubusercontent.com/1804514/76207207-57860600-6223-11ea-8b56-41ce89c61503.png)

We can close this issue but before that can you please answer my above question?

[2020-03-09 11:09] 3akat commented on #28
you're getting this when try to stop the recording, right?

[2020-03-09 11:10] sagrawal31 commented on #28
No. This is crashing as soon as I'm launching the recorder.

[2020-03-09 11:16] sagrawal31 commented on #29
Never mind!

I managed to figure out why a map is being passed there. That is for setting `title`, `description`, `tags` etc. as I saw it here (this is from where I figured out 😄 )

![image](https://user-images.githubusercontent.com/1804514/76208314-71c0e380-6225-11ea-8010-6601cb3b6ce0.png)

[2020-03-09 11:16] #29 closed

[2020-03-09 11:19] 3akat commented on #29
yup, you've found a right info :) Actually there is somewhere a list of params we can use as extra args, but I wasn't able to find it fast, so let's wait for @Bane-D to help with the info :)

[2020-03-09 11:28] sagrawal31 commented on #29
Thank you @3akat that will help.

My suggestion is to update this info (which @Bane-D will provide) in the Android SDK docs at https://ziggeo.com/docs/sdks/mobile/android

I see that it's there but I think that is not sufficient.

[2020-03-09 11:46] sagrawal31 commented on #17
Hi, @Bane-D I was about to create an issue and I found this. I'm facing this exact same issue. And the thing is that I can reproduce it constantly without a hitch.

Can we reopen it to discuss more?

[2020-03-09 12:00] 3akat commented on #17
@sagrawal31 done! Please add more info if you have something :)

[2020-03-09 12:01] 3akat commented on #24
closing it, since there is no details regarding the request.

[2020-03-09 12:01] #24 closed

[2020-03-09 12:20] sagrawal31 commented on #17
Like we have been discussing over the email 😄we have written a Cordova plugin https://github.com/wizpanda/cordova-plugin-ziggeo and is stabilizing it.

In the start, I was thinking that this issue of wrong orientation (180 degrees rotated) is because of some misconfiguration in the Cordova plugin code. But later I figured out that, it is only happening when we are explicitly setting the `facing` t

[2020-03-09 12:33] 3akat commented on #28
Weird. I was able to catch this two times but the issue disappeared after a clean build (`build` folder delete). Can you please try it?

[2020-03-09 12:34] sagrawal31 commented on #17
This can be easily reproduced by setting the line `builder.facing(CameraView.FACING_FRONT)` in this demo app only.

[2020-03-09 12:42] sagrawal31 commented on #28
@3akat I have already tried cleaning the app multiple times and also tried to delete the `build` folder (after your comment) but still getting that exception.

[2020-03-09 12:44] sagrawal31 commented on #17
https://stackoverflow.com/questions/29609838/nullpointerexception-from-mediaplayer-onpause-looses-reference this helps?

[2020-03-09 12:48] 3akat commented on #17
will check everything, thanks!

[2020-03-09 22:18] Bane-D commented on #29
Hi there Shashank.

The idea was to make our mobile SDKs follow with the same options as our JS SDK offers. You can see all of them here: https://ziggeo.com/docs/sdks/javascript/browser-integration/parameters

Now since this is mobile SDK some things had to be crafted a bit differently, so they are offered in their own methods. There were also some things that had to be named differently.

So in g

[2020-03-10 12:07] sagrawal31 commented on #28
Any update here @3akat

[2020-03-10 12:14] 3akat commented on #28
Can't reproduce the issue. Will do some crash-prevent fixes and will share a new version to try

[2020-03-10 12:16] sagrawal31 commented on #28
Okay. I'll be waiting.

[2020-03-10 12:33] sagrawal31 commented on #17
Any solution/workaround for this to fix?

[2020-03-10 12:34] sagrawal31 commented on #17
Sorry to rush because our app is recording only with the front camera only as it is an assessment test app.

[2020-03-10 13:38] sagrawal31 opened #30 "confirmStopRecording does not work with Android Hardware Back Button"
Apologies, if I'm creating so many issues 😞 but I was hoping that the issues that I'm creating should not be there.

Basically, in Android, when recording is started, a student (primary user of our app) might accidentally press the hardware back button. When we encountered the issue, I went looking for the configuration and the doc and found out the method `confirmStopRecording(true)`.

Unfortunat

[2020-03-10 13:45] 3akat commented on #30
Hi @sagrawal31,
No worries and thank you for reporting issues and suggestions :)
Our goal is to have bug-free SDK which fits all needs of our customers.

Regarding the confirmation when back button is pressed - I'll add this feature.

[2020-03-10 13:58] 3akat commented on #28
Please take a look at 0.82.4

[2020-03-10 13:58] 3akat commented on #17
Please take a look at 0.82.4

[2020-03-10 16:01] sagrawal31 commented on #17
That's so fast 😄 This issue is actually fixed now. Thank you for the quick resolution. Please close this issue again.

By the way, what was the problem? Why using front camera was recording in reverse orientation?

[2020-03-10 16:04] 3akat commented on #17
Great to hear that!
The problem is that camera orientation value is different from screen orientation. For example if screen orientation is `0` recorder should be configured with `90`. And the case was that for the from camera it should be `270` instead of `90`.
In short - wrong calculation.

[2020-03-10 16:04] #17 closed

[2020-03-10 16:04] sagrawal31 commented on #30
Thank you @3akat I hope that will not take much of your time as you will have to probably reuse your existing code. By the way, by when can we expect this?

[2020-03-10 16:04] 3akat commented on #30
Plan to release this tomorrow.

[2020-03-10 16:05] sagrawal31 commented on #17
Thank you for the explanation @3akat

[2020-03-10 16:05] sagrawal31 commented on #30
So relieved to see your reply 👍

[2020-03-10 16:08] sagrawal31 commented on #28
Oh! This also works just fine. And the build issue is also gone. Great job Ziggeo team 👏

[2020-03-10 16:09] #28 closed

[2020-03-10 16:13] sagrawal31 commented on #28
By the way, looks like the wake lock is not being cleared when the recording is done. I killed the app and the screen was on until I manually locked the screen (and it got reset afterwards).

This is fine for me but might not be okay for others. So it's up to you if you want to resolve this now or later in future.

[2020-03-10 16:15] 3akat commented on #28
Hm... I'm actually revoke the wakelock when the recording is stopped. I believe you've killed the app without stopping it, right? If so I'll add the fix for that case

[2020-03-10 16:17] sagrawal31 commented on #28
No, I killed the app after the recording was done and it was showing "Uploading" in the notification.

[2020-03-10 16:18] 3akat commented on #28
Roger that, will check, thanks for sharing

[2020-03-11 05:47] sagrawal31 commented on #29
Hi @Bane-D

I believe & agree with that.

Thank you for the clarification. Like I mentioned above, I managed to figure out a few out of them.

[2020-03-11 07:48] 3akat commented on #30
Hi @sagrawal31! Please take a look at `0.82.5`.
FYI: in Android it is not possible to handle press on the rest two buttons (Home and Overview), so if a user will press them during recording there will be now confirmation popup.

[2020-03-11 07:51] sagrawal31 commented on #30
Hi, @3akat thank you for releasing the new version. I'll try that out.

Regarding the rest two buttons, we have already handled it by pinning the app using Android pin feature 😄Thank you for pointing it out explicitly.

[2020-03-11 08:39] sagrawal31 opened #31 "RuntimeException while switching the camera"
First of all, just to mention, as of now, I'm not concerned with this issue because we have hidden the switch camera button but I just wanted to raise this issue for any future user. So you guys can decide the priority of this issue.

Basically, my camera is set to the front camera and when I'm tapping on the switch camera button, the app is crashing with the following exception:

[code]

[2020-03-11 08:50] sagrawal31 commented on #30
Hi, @3akat I tested the release `0.82.5` and looks like it is working fine. So this can be closed. Although, I have a related concern. Maybe we can create a separate issue for this.

Basically, setting `.sendImmediately(false)` shows two buttons:

1. "Stop & close button" which gives options to preview, re-record and submit recording.
2. "Send & close" check button which directly submits the recor

[2020-03-11 08:59] sagrawal31 commented on #31
I was getting this issue since the beginning of my Ziggeo integration (which is around 2-3 week) 😄so it's nothing that this issue popped-up in recent releases.

[2020-03-11 09:00] 3akat commented on #31
Thanks for reporting. Since it's not urgent for you I'll take a look on it later this week

[2020-03-11 13:34] sagrawal31 commented on #30
Hi @3akat let me know if I should create a separate issue for the above?

[2020-03-11 13:38] 3akat commented on #30
Hi @sagrawal31,
Yes, please. It looks like feature related discussion, so it's better to move it to a separate issue :)
Thank you!

[2020-03-11 13:42] sagrawal31 opened #32 "Stop button not needed if sendImmediately is set to true"
Continuing discussion from https://github.com/Ziggeo/Android-Client-SDK/issues/30#issuecomment-597513590

Setting `.sendImmediately(false)` shows two buttons in the recorder:

1. "Stop & close button" which gives options to preview, re-record and submit the recording.
2. "Send & close" check button which directly submits the recording.

But conceptually, `sendImmediately` should not mix two concer

[2020-03-11 13:42] sagrawal31 commented on #30
Thank you, @3akat. Created #32

[2020-03-11 23:04] Bane-D commented on #32
Hi Shashank,

In general all of our videos are pushed up to our servers right away by default. This is the best way to make sure the videos reach your application and as such I would suggest to always use the default `.sendImmediately(true)`.

The `.sendImmediately(false)` was created for some specific cases where it is not that important if the videos get edited or sent later and offer the record

[2020-03-12 09:42] sagrawal31 opened #33 "NPE on stopping the recorder"
This exception is being thrown very frequently but can be reproduced. This is being thrown when stopped manually or when the timer finishes or when manually stopped (using the checkmark button):

[code]

[Options](https://github.com/wizpanda/cordova-plugin-ziggeo#options) I'm using are:

[code]

[2020-03-12 10:07] sagrawal31 commented on #33
@3akat this was not crashing when we were using `0.82.2` version.

[2020-03-12 10:30] sagrawal31 commented on #32
Hi, @Bane-D thank you for the long write-up and detailed explanation.

I think I created the confusion here. Let me rephrase my question and concern (which I got some clarity after trying a few options and reading your comment).

Basically, I'm talking about these two buttons:

![image](https://user-images.githubusercontent.com/1804514/76510733-1aff1800-6478-11ea-9523-8a4f9948248f.png)

1. **Butto

[2020-03-12 10:40] sagrawal31 commented on #33
To help you out, you can reproduce the issue with these options:

[code]

[2020-03-12 12:38] 3akat commented on #33
Hi @sagrawal31,
Thanks for reporting. Today I'm busy with other tasks, will deal with this one tomorrow the first thing.

[2020-03-12 12:47] 3akat commented on #32
Hi Shashank ,
Yeah, it seems you're right in your last point :) Previously buttons behave in a little different way and they didn't do the same thing. If Bane agree I can remove Button1 (left) for `sendImmediately == true` case.

[2020-03-12 13:32] sagrawal31 commented on #33
Thank you, @3akat

Since yesterday, we were happy that today we'll finally be able to roll out our app to production track on Google Play but after upgrading SDK to `0.82.5` when we tested, this issue showed up. And we are stuck again.

Requesting to pick this issue as soon as you can. Thanks again!

[2020-03-12 13:34] sagrawal31 commented on #32
Cool. Let @Bane-D take the decision.

[2020-03-12 13:51] sagrawal31 commented on #33
By the way, I figured out the option (by commenting out the options one by one) which is causing this crash.

It's because `.autostartRecording(true)`. When I'm removing this line, that crash is gone.

[2020-03-12 14:09] 3akat commented on #33
Please take a look at `0.82.6`

[2020-03-12 14:18] sagrawal31 commented on #33
😮 I can't believe that you went extra mile to resolve this issue even you were busy. And the biggest thing is that it fixes the issue.

Thanks a lot @3akat

Hats off to the Ziggeo team! 👍 👍

[2020-03-12 14:18] #33 closed

[2020-03-12 21:55] Bane-D commented on #32
Yes, that does make sense for the case of `sendImmediately(true)` is being used :) As my colleague mentioned, at a bit earlier time these buttons did different things and as upgrades were made, I guess one of those became just one too many :)

Thank you for reporting this Shashank :)

[2020-03-13 04:36] sagrawal31 commented on #26
Unfortunately, I'm still facing this issue on my only same device even after factory resetting it.

@3akat did you get a chance to look at the logs dump?

[2020-03-13 10:05] 3akat commented on #26
Hi @sagrawal31,
Nothing suspicios, but you have filtered the log by "Media" text, could you please share the full log, catched slightly before you have started the recording?

[2020-03-13 10:25] sagrawal31 commented on #32
Thanks @Bane-D

@3akat please do this change as per your convenience. I'm renaming the issue title.

[2020-03-13 10:27] sagrawal31 commented on #26
Sure @3akat I'll share it. That will be too much of it 😄

[2020-03-13 23:20] Bane-D commented on #26
Hi Shashank, in case there is any private detail(s) in the log, please feel free to send it to our support@ziggeo.com email instead and just reference this thread. Our team will pass it to my colleague to check it out ;)

[2020-03-16 05:30] 3akat commented on #31
Hi @sagrawal31, please take a look at `0.82.7`

[2020-03-16 05:31] 3akat commented on #32
Hi @sagrawal31, I've changed the behaviour in `0.82.7`, please take a look

[2020-03-16 06:27] sagrawal31 commented on #26
Sure @Bane-D thank you for pointing out :)

[2020-03-16 18:20] sagrawal31 commented on #26
Hi Guys (@Bane-D & @3akat)

We went live [today](https://play.google.com/store/apps/details?id=in.org.hooman) and our users (students) started using the app. Unfortunately, our very first user who did the payment of 1000 INR and goes to our assessment test of videos, his app crashed 😞

He was also using a similar device, by the way.

We are so annoyed to see this and the very first impression of t

[2020-03-16 18:59] 3akat commented on #26
Hi @sagrawal31, will check the logs, thanks for sharing.
Did the user who faced the crash have exactly the same device or this was another one? If it was different I can try to find it and reproduce the issue.

[2020-03-17 06:00] sagrawal31 commented on #26
Yes, @3akat it's a different device. And our 3 other users are also facing the issue.

[2020-03-17 06:42] sagrawal31 commented on #26
@3akat did you see anything in the logs? Basically, any update?

Don't want to create pressure here but our app launch is kind of a failure because of this issue because almost 2nd user is having this issue.

[2020-03-17 06:59] sagrawal31 commented on #26
I'm listing down all devices, where it is working and where it is not. @Bane-D, @3akat @ntshrocha can you guys please put another team member to figure out a pattern out of it? That would be really really helpful.

## Devices where it is not working

1. [Samsung Galaxy J6](https://www.gsmarena.com/samsung_galaxy_j6-9203.php) running Android 9.
2. [Samsung Galaxy J5](https://www.gsmarena.com/samsun

[2020-03-17 07:37] 3akat commented on #26
I have tried to make a workaround, please take a look at the version `5c6340bc83536f88a099b48d02c4a5c0e86e8f85`
in build.gradle will look like the following
[code]

Also if possible share
[code]
for all devicec where you have crashes

[2020-03-17 08:00] sagrawal31 commented on #26
This worked (at least on one of my device) @3akat 😥 🎉 what was the issue and how did you debug it?

[2020-03-17 08:06] sagrawal31 commented on #31
This is working fine. Thank you. I'm closing this issue.

[2020-03-17 08:06] #31 closed

[2020-03-17 08:08] sagrawal31 commented on #31
Although, one more edge-case which you can deal in future.

The 3-second countdown (start delay) was running and it was touching countdown to 1. At this point of time, I pressed the camera switch button and it crashed with:

[code]

I'm sure this is an edge condition where the recording is about to start and the user switched the camera.

[2020-03-17 08:09] sagrawal31 commented on #32
Thank you @3akat for considering this small UX issue.

This behaviour is now working as expected.

[2020-03-17 08:09] #32 closed

[2020-03-17 08:10] 3akat commented on #26
I actually didn't fix it. There are two version of Camera API in Android. The newer Camera2 API gives much more abilities, but many manufacturers does not implement it correctly on their devices, so, as we can see, sometimes it crashes for unknown reason.
I have just forced to use Camera1 API in the whole SDK.
So I suggest you to use it for now, I have already found one of the devices you mentione

[2020-03-17 08:13] sagrawal31 commented on #26
Oh! Got your point about these two camera APIs. But can we be sure that using [Camera1](https://developer.android.com/guide/topics/media/camera) API will work fine on newer devices or newer Android OS?

[2020-03-17 08:20] 3akat commented on #26
It is still supported by Google and I can say most of the developers in their libraries still use Camera1 API (maybe Camera2 is harder to use). So I'm pretty sure should work fine.

[2020-03-17 08:58] sagrawal31 commented on #30
Actually, I noticed a potential UX issue after this issue was fixed.

Basically, in both the cases, when either the hardware back button is pressed or checkmark button is pressed, the message is **Are you sure want to stop recording?** which is shown in the confirmation dialogue.

But the actions of both the dialogues are different.

- For the checkmark button, when "OK" is pressed in the confirma

[2020-03-17 08:58] sagrawal31 commented on #30
Can we reopen this issue to discuss?

[2020-03-17 09:00] sagrawal31 commented on #26
Thank you @3akat for the clarification & confirmation. Can you release with a proper version (i.e. `0.82.8`)?

We'll roll out the change to our users and will try to test it again on almost all devices.

[2020-03-17 09:09] 3akat commented on #26
please take a look at `0.82.8_rc1`

[2020-03-17 09:14] sagrawal31 commented on #26
Thank you, @3akat

After you clarified the issue, I Googled about camera2 API integration in Samsung and I saw a lot of posts like https://r2.community.samsung.com/t5/Galaxy-J/Samsung-please-enable-camera-2-API-on-Samsung-galaxy-j6/td-p/1801370

[2020-03-17 10:09] 3akat commented on #26
Yeah, as I said looks like device doesn't support Camera2

[2020-03-17 17:39] sagrawal31 commented on #26
Thank you @3akat we are testing this in all devices and will update you with that.

[2020-03-17 19:37] Bane-D commented on #30
Thank you for commenting on this. It can be a bit confusing in such case. Unless my colleague thinks or suggests otherwise, we could:
1. Checkmark option > "_End recording and submit the video?_"
2. Back button > "_Are you sure you want to cancel recording?_"

In such case there would not be any difference in the actions they do, just the way it is messaged back to the person doing the recording.

[2020-03-18 07:25] 3akat commented on #26
Hi @sagrawal31, I have tested on J5. Unfortunately I was not able to reproduce the crash, but the preview was not working at all, so I hope the cause will be the same.
I did a careful workaround for devices which has a legacy level of Camera2 API support - on such we will use Camera1 API.
Please, take a look at `0.82.8_rc2`.
If everything is good I'll convert it to the final release `0.82.8`.

[2020-03-18 09:54] sagrawal31 commented on #30
I agree with you on the texts @Bane-D

Yes, action will be the same.

[2020-03-18 09:55] sagrawal31 commented on #30
@Bane-D would you mind reopening the issue? So that this can be scheduled.

[2020-03-18 11:48] 3akat commented on #30
Good idea, will implement.

[2020-03-18 12:07] sagrawal31 commented on #26
Samsung phone box in India has a specific label "Designed for India" so maybe some configuration is different (although, I have heard that it's about SIM slots).

Actually, by a crash, I meant the same. For us, the recording never starts. Although, preview used to work but as soon as we start the recording, it throws this RuntimeException and after a few minutes (of app being frozen), it crashes (

[2020-03-18 12:21] 3akat commented on #26
That is important details, please describe them exacly next time :) In this case this had no influence but could have in other cases.

That's right.

That's a good question. Do you have access to those device or this were remote users?

[2020-03-18 12:32] sagrawal31 commented on #26
Actually, I explained this earlier in https://github.com/Ziggeo/Android-Client-SDK/issues/26#issuecomment-593925288 & https://github.com/Ziggeo/Android-Client-SDK/issues/26#issuecomment-593940733 😄 never directly used the word "crash" in the beginning but the end result of this issue lead to app crash (after a few minutes).

We do not have access to all those devices where it was crashing earlier.

[2020-03-18 12:36] 3akat commented on #26
ah, that means I missed something. For some reason I was focused on `RuntimeException: stop failed` :)

Roger that. I'll try to find out how to make sure that it will be working on the devices you've shared.

[2020-03-18 12:37] sagrawal31 commented on #26
Thank you @3akat

I'll be waiting to hear from you!

[2020-03-29 18:56] sagrawal31 commented on #26
Hi @3akat @Bane-D
Hope you & your families are safe from this pandemic disease.

Any update here?

Our app is crashing for a few students (the end-user) and the count is increasing as soon as we are promoting the app.

[2020-03-29 19:24] 3akat commented on #26
Hi @sagrawal31, hope you're doing well too!
Can you please specify the version you use, device name and crash log if possible?
Because in '0.82.8_rc1' I turned off camera2 support, so if you use it then it should be a new issue.

[2020-03-30 06:21] sagrawal31 commented on #26
Hi @3akat, we are using the version `0.82.8_rc1` only. But having a few app unresponsiveness on that as soon as the countdown is stopping. This is not the only behaviour. Some users have faced a different kind of behaviour.

Regarding the logs, I couldn't get anything yet because those are the remote users.

But you released `0.82.8_rc2` as well for which you were supposed to debug the issues, rig

[2020-03-30 08:26] 3akat commented on #26
Oh I didn't know `0.82.8_rc2` stopped working on J6 again.
But still the issue with `0.82.8_rc1` is different from what we were solving. Let's try to get names of the devices with the issue.

[2020-03-30 09:25] sagrawal31 commented on #26
That's fine, I also didn't know it till yesterday.

Yes, @3akat we are trying to prepare a list for you along with the logs. We have Firebase crashlytics installed but for some reason, it is not showing up there.

[2020-03-31 18:13] 3akat commented on #26
Hi @sagrawal31, tomorrow I plan to try to integrate crashlitics to see if there is any issues and since I can't reproduce camera issue manually I will write autotest and execute it in cloud. Hope this will help to find the device where I can debug the issues you have.

[2020-04-01 08:19] sagrawal31 commented on #26
That would be really really helpful, @3akat

[2020-04-01 12:59] 3akat commented on #26
Hi @sagrawal31.
Regarding crash logger - please try with v `0.83.1_cam1`. We have internal logger in the SDK and seems like it is conflicting with any other logger system and this is impossible to use both at the same time. So I set the logger in the SDK turned off by default.
You can also try to find some logs from the SDK here
https://ziggeo.com/applications/_your_app_token_/debugger

[2020-04-01 14:01] sagrawal31 commented on #26
Hi @3akat. Thanks for the new release. Is this release `v0.83.1_cam1` is extending `0.82.8_rc2`?

[2020-04-01 14:07] sagrawal31 commented on #26
Hey, I just checked the debugging page after a very long time and surprised to see that it is logging various errors which might help you figure the issue. Here is a snap:

![image](https://user-images.githubusercontent.com/1804514/78146539-e87d8500-744f-11ea-98d5-acf530261c7e.png)

And the biggest thing is that it shows the devices (of real users) on which it is crashing along with my testing Sam

[2020-04-01 14:58] 3akat commented on #26
This actually our usual release with some more fixes/improvements, but I have turn Camera2 API off there like in previus time for you

[2020-04-01 17:02] sagrawal31 commented on #26
Thanks a ton for this. I'll try this. But another concern, since we know that your internal logger can track the issue, do you still want me to try that release? Should we use it and release it on our production app?

I'll be waiting for a more stable fix.

[2020-04-05 13:37] sagrawal31 commented on #26
Any update here @3akat?

[2020-04-05 17:42] 3akat commented on #26
Unfortunately no result for now. Currently we have no access to the service with mobile devices which allow to run autotests, so I did manual testing on about 20 more devices with 5 different builds - no issues.
Will try to do execute autotest on the next week.

[2020-04-06 05:25] sagrawal31 commented on #26
Thank you prompt response, again @3akat I appreciate this.

I understand that you are not able to reproduce this on different devices but you have access to these logs which looks pretty straightforward to me. For example: `NullPointerException` when attempting to call `.getParameters()` method. Can you please try playing around those lines in your SDK to cover any kind of possible scenarios?

Am

[2020-04-06 07:42] 3akat commented on #26
Hi @sagrawal31,
First of all in the logs I got from `/debugger` there are several issues, not only the one you've mentioned.
And you're right: this `NullPointerException` is pretty clear. I can add check `if (camera!=null) do something` :)
But this will only prevent a crash, this will not fix the issue, becase the actual reason is that camera is null and this is impossible to do anything with it,

[2020-04-10 06:39] 3akat commented on #26
Hi @sagrawal31,
Just wanted to share a few updates.
We have prepare automated test for several different SDK versions (to cover a wide range of cases), but currently we can't execute them due to issues with the service which provides us real devices.
I'll back to you with updates as soon as I get something.

[2020-04-10 06:53] sagrawal31 commented on #26
Hi, @3akat. Thank you for updating me advance!

Let me know as soon as you have something.

[2020-06-08 07:17] 3akat commented on #26
Hi @sagrawal31!
Happy to say we have pushed a new SDK version - `1.0.0`. It contains some big changes including migration to AndroidX.
We have been able to execute autotests on more than a hundred devices and found several camera issue - all of them are resolved now.
Please, take look at the new version when you'll have time to updated.
I'm closing this issue, please, open another in case you will

[2020-06-08 07:17] #26 closed

[2020-06-08 12:16] sagrawal31 commented on #26
That's really great, @3akat. Thanks for your effort and the update. I'll surely try this very soon.

[2020-06-15 18:09] 3akat commented on #27
Renamed.

[2020-06-15 18:09] #27 closed

[2020-06-16 04:39] sagrawal31 commented on #27
Thank you @3akat

[2021-10-13 15:01] objectorientedperson opened #34 "SDK 31 Upgrade"
Hello,

Recently we needed to upgrade the project's  target SDK number to 31. When we did so, we saw that FullscreenRecorderActivity doesn't have 'exported=true' attribute declared in the manifest. To be able to run the app, we needed ziggeo to upgrade it's activities (that have intent-filter) to have 'exported=true'. (Saw in merged manifest, that FullscreenRecorderActivity and UriParserActivity d

[2021-10-14 17:49] objectorientedperson opened #35 "StopRecordingConfirmationDialogConfig resources as regular string"
Hello,

In RecorderConfig.Builder class, I would like to add attribute stop confirmation dialog. But when I checked it, it only has resId params for title, message and button labels. Can you please also add feature to accept string as well?

Thanks in advance.

[2021-10-14 18:39] objectorientedperson opened #36 "uploadedBytes in UploadingCallback is always 0"
Hello,

When uploading a new video, uploadedBytes remains 0 all the time but totalBytes returns the correct size of file. Can you please take a look into this?

Thanks in advance.

[2021-10-14 19:15] objectorientedperson opened #37 "VideosService url_data Json Error"
Hi,

Sorry for bothering with too many issues. I try to upload a video by calling:

`mZiggeo.videos().create(fileToSaveRecording, null, object : ProgressCallback() {}`

but when I do, I get the output:

`D/OkHttp: --> POST https://api-us-east-1.ziggeo.com/embed/v1/applications/bc90c5d7ed6f42fb08d3c8cb5e54875e/scitylana/kcart
    Content-Type: application/json; charset=utf-8
    Content-Length: 331

[2021-10-15 08:49] 3akat commented on #34
@objectorientedperson please, take a look at the v`2.4.1`

[2021-10-15 17:35] objectorientedperson commented on #34
@3akat fixed in v2.4.1. Thank you.

[2021-10-15 17:35] #34 closed

[2021-10-15 17:36] #36 closed, assigned to nobody

[2021-10-15 23:02] objectorientedperson opened #38 "Cannot play video in v2.4.1"
Hi,

SDK throws exception when I try to play an uploaded video:

D/OkHttp: <-- 200 OK https://embed.ziggeo.com/v1/applications/bc90c5d7ed6f42fb08d3c8cb5e54875e/videos/7dbc6f70358ec226bca1825117d97e65 (231ms)
    Access-Control-Allow-Credentials: true
D/OkHttp: Access-Control-Allow-Methods: PUT, GET, POST, DELETE, OPTIONS
    Access-Control-Allow-Origin: *
    Content-Type: application/json
    Dat

[2021-10-19 14:41] #35 closed

[2021-10-19 14:41] #38 closed